<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= yield %>


 <div class="footer">
  <div class="footer-links">
    <a href="https://github.com/nagato94"><i class="fab fa-github"></i></a>
    <a href="https://www.instagram.com/kaique.costa94/"><i class="fab fa-instagram"></i></a>
    <a href="https://www.linkedin.com/in/kaiquecostadev/"><i class="fab fa-linkedin"></i></a>
 <div class="footer-text">
      &copy; Kaique Costa e Silva
    </div>
  </div>
</div>
  </body>
</html>
